/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html, body { 
	width:100%; height:100%;
    margin:    0 auto;    
	background-color: black;
    color: white;
    font-family: Courier New;
    background-image: none;
    font-size:23px;
	font-weight: 100;
	line-height: 1.4em;
    text-align: center;
	
}
b, strong {
  font-weight: bold;
}

#header, #content, #footer{
	width: 100%;
	max-width: 800px;
	margin:0 auto;
}

#content{
	padding: 15px 20px 20px 20px;
	width: calc(100% - 50px);
	text-align: center;
	margin-bottom: 50px;
}

/* this is for responsive design 	
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
*/

a:link {
  color: white;
  background-color: transparent;
  text-decoration: bold;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}




.boxed{
	
	background: yellow;
	width: calc(50%);
}







a.button {
  background-color: yellow; 
  border: 2px solid white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-family: Tahoma;
}

a.button2 {
  background-color: black; 
  border: 2px solid yellow;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  font-family: Tahoma;
}

/*next classes are used for the image and text grids*/
.grid{
	overflow:hidden;
	/*margin-bottom: -0.5em;*/
	margin-top: 5px;
}
.grid > a:first-child > div{
	margin-top:20px;
}

 /* Set the dimensions of each cell in the grid of images!*/
.grid > a > div{

	display: inline-block;
    overflow: hidden;
	width: 390px;
	height:300px;
	margin-bottom:10px;

	transition: opacity 0.1s ease-in-out;

}
.grid > a{
	text-decoration: none;
	display: inline-block;
}
.grid > a:hover > div{
	opacity: 0.5;
}
.grid > a > div > img{

	width: 388px;
	border: 1px solid black;
	margin-bottom: 5px;
}
.grid > a > div > div{
	color:white;
	font-size: 20px;
	line-height: 21px;
	text-align: left;
	width:100%;
}

.grid > a > div > div > span{
	color:white;
	opacity: 1;
}

	
/* for making the nav menu one column if width is under 880 px */
@media (max-width: 880px){
	#nav{
		
		margin: auto;
		width: 70%;
		border: 0px solid green;
		padding: 10px;
		line-height: 140%


	}
/* hides the dots between the elements of the menu*/
	#nav span{
		opacity: 0;
		display: block;
		height: 0px;
	}
}
